<div class="jumbotron text-center">
    <form action="">
        <div class="form-group">
            <label for="name">Nombre</label>
            <input type="text" class="form-control" id="name"  placeholder="Enter name">
         </div>
          <div class="form-group">
            <label for="name">Apellidos</label>
            <input type="text" class="form-control" id="apellidos"  placeholder="Enter apellidos">
         </div>
          <div class="form-group">
            <label for="name">ID</label>
            <input type="text" class="form-control" id="id"  placeholder="Enter ID">
         </div>
         <div class="form-group">
            <label for="name">correo</label>
            <input type="email" class="form-control" id="email"  placeholder="Enter emial">
         </div>
    </form>

</div>
